.grid-container {
  background-color: lemonchiffon;
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr repeat(4, 4fr) 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 5px;
  border-radius: 1rem;
}
.grid-container > div {
  background-color: greenyellow;
  border: 1px solid blueviolet;
  text-align: center;
  padding: 40px;
}
.grid-container div:nth-of-type(1) {
  grid-column: 2 / span 2;
  border-radius: 1rem;
}
.grid-container div:nth-of-type(2) {
  grid-column: span 2;
  border-radius: 1rem;
}
.grid-container div:nth-of-type(3) {
  grid-column: 2 / span 2;
  border-radius: 1rem;
}
.grid-container div:nth-of-type(4) {
  grid-column: span 2;
  border-radius: 1rem;
}
.grid-container div:nth-of-type(5) {
  grid-column: 2 / span 2;
  border-radius: 1rem;
}
.grid-container div:nth-of-type(6) {
  grid-column: span 2;
  border-radius: 1rem;
}
.grid-container div:nth-of-type(7) {
  grid-column: 3 / span 2;
  border-radius: 1rem;
}
.grid-container div:nth-of-type(8) {
  grid-column: 3 / span 2;
  grid-row: 2;
  border-radius: 1rem;
}
.grid-container div:nth-of-type(9) {
  grid-column: 3 / span 2;
  grid-row: 4;
  border-radius: 1rem;
}
